$light-grey: rgb(243, 243, 243);
$dark-blue: rgb(68, 68, 172);
$hover-dark-blue: rgb(58, 58, 146);
$cell-color: rgb(235, 235, 255);
$colorGreyBg: rgb(61, 61, 61);
$colorTableHeader: rgb(92, 92, 219);
$colorTableHeaderBorder: rgb(100, 100, 226);

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

#main-page {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  background-color: $light-grey;
  justify-content: center;
  align-items: center;
  .content {
    width: 1140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .title-container {
      min-width: 500px;
      margin: 300px auto 0 auto;
      text-align: center;
      display: flex;
      align-items: center;
      h1 {
        font-family: 'Source Code Pro';
        font-weight: 700;
        font-size: 70px;
        display: inline-block;
        color: $dark-blue;
      }
      .input-container {
        margin-left: 10px;
        border-bottom: 2px solid $dark-blue;
        input {
          border: none;
          font-size: 30px;
          width: 300px;
          height: 45px;
          color: black;
          padding: 5px 12px;
          text-align: center;
          outline: none;
        }
      }
    }
    .button-container {
      width: 700px;
      margin: 50px auto 0 auto;
      text-align: center;
      button {
        width: 250px;
        background-color: $dark-blue;
        color: white;
        font-size: 25px;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 2px;
        &:hover {
          cursor: pointer;
          background-color: $hover-dark-blue;
        }
        &:active {
          transform: translateY(2px);
        }
      }
    }
    .name-error-message {
      text-align: center;
      color: red;
      margin-top: 10px;
    }
    .pun-container {
      margin-top: 200px;
      text-align: center;
      #battleship-pun {
        color: $dark-blue;
        font-family: arial;
      }
    }
  }
}

#game-page {
  position: absolute;
  background-color: $light-grey;
  max-width: 1920px;
  height: 1080px;
  display: none;
  padding-left: 100px;
  overflow: auto;
  /****PLAYER BOARDS****/
  .game-container {
    width: 970px;
    height: 100%;
    padding: 50px 0;
    .container-p1 {
      border-bottom: 1px solid $dark-blue;
    }
    .container {
      width: 100%;
      height: 50%;
      display: flex;
      .battleships {
        width: 400px;
        height: 100%;
        border-right: 1px solid $dark-blue;
        overflow: auto;
        .name-container {
          width: 100%;
          text-align: left;
          padding: 10px;
          .name {
            font-family: arial;
          }
        }
        .all-pieces {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          .ship {
            display: flex;
            margin: 20px;
            border: 1px solid $dark-blue;
            background-color: $cell-color;
            .piece-cell {
              display: flex;
              width: 20px;
              height: 20px;
              border: 1px solid $dark-blue;
              background-color: transparent;
            }
          }
        }
      }
      .board-container {
        width: 800px;
        height: 100%;
        display: flex;
        overflow: auto;
        justify-content: flex-start;
        align-items: flex-start;
        .board {
          position: relative;
          border: 1px solid $dark-blue;
          margin-top: 50px;
          margin-left: 50px;
          .identifier-row {
            position: absolute;
            left: -40px;
            display: flex;
            flex-direction: column;
          }
          .identifier-column {
            position: absolute;
            top: -40px;
            display: flex;
          }
          .identifier {
            width: 40px;
            line-height: 40px;
            vertical-align: middle;
            text-align: center;
            font-weight: 600;
          }
          .board-row {
            display: flex;
            .board-cell {
              width: 40px;
              height: 40px;
              border: 1px solid $dark-blue;
              background-color: $cell-color;
            }
          }
        }
      }
    }
  }

  /*********LOG**********/
  .utility-container {
    min-width: 450px;
    max-width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    .log {
      min-width: 350px;
      max-width: 350px;
      height: 800px;
      background-color: white;
      border-radius: 4px;
      padding: 15px 20px;
      overflow: auto;
      border: 1px solid $dark-blue;
      display: flex;
      align-items: flex-end;
      .log-container {
        overflow-y: auto;
        width: 310px;
        max-height: 760px;
        & > * {
          margin-top: 5px;
          padding: 6px 10px;
          border-radius: 2px;
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif;
        }
        .p1 {
          color: red;
          background-color: rgb(255, 224, 224);
        }
        .p2 {
          color: blue;
          background-color: rgb(223, 223, 250);
        }
        .pgame {
          color: black;
          background-color: rgb(235, 235, 235);
        }
        .pwon {
          color: purple;
          background-color: rgb(236, 162, 236);
        }
      }
    }
    .btns-container {
      width: 350px;
      display: flex;
      justify-content: space-evenly;
      button {
        width: 250px;
        background-color: $dark-blue;
        color: white;
        font-size: 25px;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 2px;
        &:hover {
          cursor: pointer;
          background-color: $hover-dark-blue;
        }
        &:active {
          transform: translateY(2px);
        }
      }
      .settings {
        margin-left: 10px;
      }
    }
  }
  /*****LEADERBOARD*******/
  .leaderboard-container {
    min-width: 400px;
    max-width: 550px;
    height: 100%;
    background-color: $dark-blue;
    nav {
      display: flex;
      .leaderboard-tab {
        height: 50px;
        padding: 10px 20px;
        flex-grow: 1;
        background-color: $colorGreyBg;
        vertical-align: middle;
        line-height: 30px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        &:hover {
          background-color: rgb(71, 71, 71);
        }
      }
      #easy-tab {
        background-color: $dark-blue;
      }
      #replays-tab {
        flex-grow: 2;
      }
    }
    #easy-leaderboard {
      display: block;
    }
    #medium-leaderboard {
      display: none;
    }
    #hard-leaderboard {
      display: none;
    }
    .leaderboard {
      display: none;
      .column-identifier {
        display: flex;
        margin: 20px 15px 0 15px;
        padding: 10px 15px;
        justify-content: space-between;
        background-color: $colorTableHeader;
        div {
          display: inline-block;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
        }
        .player-rank-column {
          margin-right: 20px;
        }
        .win-column {
          margin-right: 20px;
        }
      }
      .stats-container {
        height: 955px;
        width: 370px;
        margin: auto auto;
        background-color: $light-grey;
        .player-stat {
          display: flex;
          padding: 10px 14px;
          justify-content: space-between;
          &:nth-child(2n) {
            background-color: rgb(207, 207, 207);
          }
          div {
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
          }
          .player-rank-column {
            margin-right: 20px;
            width: 45px;
          }
          .win-column {
            margin-right: 20px;
            width: 32px;
          }
          .lose-column {
            width: 42px;
          }
        }
      }
    }
    .replays {
      display: none;
      .column-identifier {
        display: flex;
        margin: 20px 13px 0 13px;
        padding: 10px 15px;
        justify-content: space-between;
        background-color: $colorTableHeader;
        div {
          display: inline-block;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
        }
        .player-rank-column {
          margin-right: 20px;
        }
        .win-column {
          margin-right: 20px;
        }
      }

      .replays-container {
        height: 955px;
        width: 370px;
        margin: 0 auto;
        background-color: $light-grey;
        .replay {
          display: flex;
          padding: 10px 17px;
          align-items: center;
          font-family: Arial, Helvetica, sans-serif;
          &:nth-child(2n) {
            background-color: rgb(207, 207, 207);
          }
          .players {
            text-align: left;
            width: 140px;
            .win {
              color: green;
            }
            .lose {
              color: red;
            }
          }
          .accuracy {
            text-align: center;
            width: 100px;
          }
          .button-container {
            text-align: right;
            width: 110px;
            padding-right: 3px;
          }
        }
      }
    }
  }
}

#winning-screen {
  position: absolute;
  max-width: 1920px;
  height: 1080px;
  display: none;
  flex-direction: column;
  .winning-container-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(white, 0.8);
    padding: 0 50px 50px 50px;
    margin: 220px 100px 0 100px;
    border-radius: 4px;
    border: 1px solid $dark-blue;
    .winning-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .gif-left {
        position: relative;
        top: 50px;
      }
      .winning-text {
        font-family: 'arial';
        font-size: 100px;
        text-align: center;
      }
      .gif-right {
        position: relative;
        top: 50px;
      }
    }
    .buttons-container {
      button {
        width: 250px;
        background-color: $dark-blue;
        color: white;
        font-size: 25px;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 2px;
        &:hover {
          cursor: pointer;
          background-color: $hover-dark-blue;
        }
        &:active {
          transform: translateY(2px);
        }
      }
      #save-replay {
        margin-left: 10px;
      }
    }
  }
}

#settings-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 560px;
  background-color: $colorGreyBg;
  border-radius: 4px;
  display: none;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $colorGreyBg;
  border-radius: 4px;
  nav {
    display: flex;
    padding: 15px;
    align-self: flex-start;
    h2 {
      margin-right: 15px;
      border-radius: 4px;
      padding: 5px 15px;
      border: 1px solid rgb(0, 0, 0);
      &:hover {
        cursor: pointer;
      }
    }
    .close-settings {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      top: 10;
      right: 15px;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 3px;
      border-radius: 4px;
      background-color: rgb(207, 39, 39);
      &:hover {
        background-color: rgb(217, 49, 49);
      }
      ion-icon {
        width: 20px;
        height: 20px;
        color: white;
        font-weight: 400;
      }
    }
    #settings-normal-tab {
      background-color: $dark-blue;

    }
    
  }
  .settings-container {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    font-size: 20px;
    padding: 15px;
    position: relative;
    top: 0;
    left: 0;
    #settings {
      border: none;
      margin-bottom: 10px;
    }
    & > * {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      padding: 5px 15px;
      margin-bottom: 15px;
      border-radius: 4px;
      & > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .modify {
          display: flex;
          margin: 10px 0;
          p {
            line-height: 100%;
            vertical-align: middle;
            margin: auto 20px;
            width: 20px;
            text-align: center;
          }
          button {
            background-color: $dark-blue;
            color: white;
            width: 30px;
            height: 20px;
            padding-bottom: 10px;
            outline: none;
            border: none;
            border-radius: 2px;
            font-size: 20px;
            &:hover {
              cursor: pointer;
              background-color: $hover-dark-blue;
            }
          }
        }
      }
    }
    .first-shot-settings {
      h4 {
        font-weight: 400;
        margin-bottom: 10px;
      }
      .first-shot-buttons {
        display: flex;
        label {
          font-size: 17px;
          line-height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            box-sizing: border-box;
            appearance: none;
            background: white;
            outline: none;
            border: 3px solid white;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            cursor: pointer;
            &:checked {
              background: $dark-blue;
            }
          }
        }
      }
    }
    #apply-settings {
      background-color: $dark-blue;
      color: white;
      padding: 10px 30px;
      outline: none;
      border: none;
      border-radius: 2px;
      font-size: 20px;
      margin: auto auto;
      &:hover {
        cursor: pointer;
        background-color: $hover-dark-blue;
      }
    }
    #apply-settings-difficulty {
      background-color: $dark-blue;
      color: white;
      padding: 10px 30px;
      outline: none;
      border: none;
      border-radius: 2px;
      font-size: 20px;
      margin: auto auto;
      &:hover {
        cursor: pointer;
        background-color: $hover-dark-blue;
      }
    }
  }
  .computer-settings {
    display: none;
  }
  .normal-settings {
    display: block;
  }
}