.rainbow-text {
  background-image: -webkit-gradient(linear, right top, left top, from(violet), color-stop(indigo), color-stop(blue), color-stop(green), color-stop(yellow), color-stop(orange), to(red));
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

/*************************/
/*******MAIN PAGE*********/
/*************************/
#main-page {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-page .content {
  width: 1140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-page .content .title-container {
  min-width: 500px;
  margin: 300px auto 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-page .content .title-container h1 {
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-size: 70px;
  display: inline-block;
  color: #4444ac;
}

#main-page .content .title-container .input-container {
  margin-left: 10px;
  border-bottom: 2px solid #4444ac;
}

#main-page .content .title-container .input-container input {
  border: none;
  font-size: 30px;
  width: 300px;
  height: 45px;
  color: black;
  padding: 5px 12px;
  text-align: center;
  outline: none;
}

#main-page .content .button-container {
  width: 700px;
  margin: 50px auto 0 auto;
  text-align: center;
}

#main-page .content .button-container button {
  width: 250px;
  background-color: #4444ac;
  color: white;
  font-size: 25px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 2px;
}

#main-page .content .button-container button:hover {
  cursor: pointer;
  background-color: #3a3a92;
}

#main-page .content .button-container button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#main-page .content .name-error-message {
  text-align: center;
  color: red;
  margin-top: 10px;
}

#main-page .content .pun-container {
  margin-top: 200px;
  text-align: center;
}

#main-page .content .pun-container #battleship-pun {
  color: #4444ac;
  font-family: arial;
}

/*************************/
/*******GAME PAGE*********/
/*************************/
#game-page {
  position: absolute;
  background-color: #f3f3f3;
  max-width: 1920px;
  height: 1080px;
  display: none;
  padding: 50px 100px;
  /****PLAYER BOARDS****/
  /*********LOG**********/
  /*****LEADERBOARD*******/
}

#game-page .game-container {
  width: 970px;
  height: 100%;
}

#game-page .game-container .container-p1 {
  border-bottom: 1px solid #4444ac;
}

#game-page .game-container .container {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#game-page .game-container .container .battleships {
  width: 400px;
  height: 100%;
  border-right: 1px solid #4444ac;
  overflow: auto;
}

#game-page .game-container .container .battleships .name-container {
  width: 100%;
  text-align: left;
  padding: 10px;
}

#game-page .game-container .container .battleships .name-container .name {
  font-family: arial;
}

#game-page .game-container .container .battleships .all-pieces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#game-page .game-container .container .battleships .all-pieces .ship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  border: 1px solid #4444ac;
  background-color: #ebebff;
}

#game-page .game-container .container .battleships .all-pieces .ship .piece-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid #4444ac;
  background-color: transparent;
}

#game-page .game-container .container .board-container {
  width: 800px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#game-page .game-container .container .board-container .board {
  position: relative;
  border: 1px solid #4444ac;
  margin-top: 50px;
  margin-left: 50px;
}

#game-page .game-container .container .board-container .board .identifier-row {
  position: absolute;
  left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#game-page .game-container .container .board-container .board .identifier-column {
  position: absolute;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#game-page .game-container .container .board-container .board .identifier {
  width: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
}

#game-page .game-container .container .board-container .board .board-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#game-page .game-container .container .board-container .board .board-row .board-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #4444ac;
  background-color: #ebebff;
}

#game-page .utility-container {
  min-width: 450px;
  max-width: 450px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#game-page .utility-container .log {
  min-width: 350px;
  max-width: 350px;
  height: 800px;
  background-color: white;
  border-radius: 4px;
  padding: 15px 20px;
  overflow: auto;
  border: 1px solid #4444ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#game-page .utility-container .log .log-container {
  overflow-y: auto;
  width: 310px;
  max-height: 760px;
}

#game-page .utility-container .log .log-container > * {
  margin-top: 5px;
  padding: 6px 10px;
  border-radius: 2px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#game-page .utility-container .log .log-container .p1 {
  color: red;
  background-color: #ffe0e0;
}

#game-page .utility-container .log .log-container .p2 {
  color: blue;
  background-color: #dfdffa;
}

#game-page .utility-container .log .log-container .pgame {
  color: black;
  background-color: #ebebeb;
}

#game-page .utility-container .log .log-container .pwon {
  color: purple;
  background-color: #eca2ec;
}

#game-page .utility-container .btns-container {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#game-page .utility-container .btns-container button {
  width: 250px;
  background-color: #4444ac;
  color: white;
  font-size: 25px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 2px;
}

#game-page .utility-container .btns-container button:hover {
  cursor: pointer;
  background-color: #3a3a92;
}

#game-page .utility-container .btns-container button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#game-page .utility-container .btns-container .settings {
  margin-left: 10px;
}

#game-page .leaderboard-container {
  min-width: 300px;
  max-width: 450px;
  height: 100%;
  border: 1px solid #4444ac;
}

/*************************/
/*****WINNING SCREEN******/
/*************************/
#winning-screen {
  position: absolute;
  max-width: 1920px;
  height: 1080px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#winning-screen .winning-container-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 50px 50px 50px;
  margin: 220px 100px 0 100px;
  border-radius: 4px;
  border: 1px solid #4444ac;
}

#winning-screen .winning-container-background .winning-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#winning-screen .winning-container-background .winning-container .gif-left {
  position: relative;
  top: 50px;
}

#winning-screen .winning-container-background .winning-container .winning-text {
  font-family: 'arial';
  font-size: 100px;
  text-align: center;
}

#winning-screen .winning-container-background .winning-container .gif-right {
  position: relative;
  top: 50px;
}

#winning-screen .winning-container-background button {
  width: 250px;
  background-color: #4444ac;
  color: white;
  font-size: 25px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 2px;
}

#winning-screen .winning-container-background button:hover {
  cursor: pointer;
  background-color: #3a3a92;
}

#winning-screen .winning-container-background button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/*************************/
/*****SETTINGS SCREEN*****/
/*************************/
#settings-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 560px;
  background-color: #3d3d3d;
  border-radius: 4px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3d3d3d;
  border-radius: 4px;
}

#settings-screen nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#settings-screen nav h2 {
  margin-right: 15px;
  border-radius: 4px;
  padding: 5px 15px;
  border: 1px solid black;
}

#settings-screen nav h2:hover {
  cursor: pointer;
}

#settings-screen nav .close-settings {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  top: 10;
  right: 15px;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 3px;
  border-radius: 4px;
  background-color: #cf2727;
}

#settings-screen nav .close-settings:hover {
  background-color: #d93131;
}

#settings-screen nav .close-settings ion-icon {
  width: 20px;
  height: 20px;
  color: white;
  font-weight: 400;
}

#settings-screen nav #settings-normal-tab {
  background-color: #4444ac;
}

#settings-screen .settings-container {
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
  padding: 15px;
  position: relative;
  top: 0;
  left: 0;
}

#settings-screen .settings-container #settings {
  border: none;
  margin-bottom: 10px;
}

#settings-screen .settings-container > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  padding: 5px 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

#settings-screen .settings-container > * > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#settings-screen .settings-container > * > * .modify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

#settings-screen .settings-container > * > * .modify p {
  line-height: 100%;
  vertical-align: middle;
  margin: auto 20px;
  width: 20px;
  text-align: center;
}

#settings-screen .settings-container > * > * .modify button {
  background-color: #4444ac;
  color: white;
  width: 30px;
  height: 20px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 20px;
}

#settings-screen .settings-container > * > * .modify button:hover {
  cursor: pointer;
  background-color: #3a3a92;
}

#settings-screen .settings-container .first-shot-settings h4 {
  font-weight: 400;
  margin-bottom: 10px;
}

#settings-screen .settings-container .first-shot-settings .first-shot-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#settings-screen .settings-container .first-shot-settings .first-shot-buttons label {
  font-size: 17px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#settings-screen .settings-container .first-shot-settings .first-shot-buttons label input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: white;
  outline: none;
  border: 3px solid white;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
}

#settings-screen .settings-container .first-shot-settings .first-shot-buttons label input:checked {
  background: #4444ac;
}

#settings-screen .settings-container #apply-settings {
  background-color: #4444ac;
  color: white;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  margin: auto auto;
}

#settings-screen .settings-container #apply-settings:hover {
  cursor: pointer;
  background-color: #3a3a92;
}

#settings-screen .settings-container #apply-settings-difficulty {
  background-color: #4444ac;
  color: white;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  margin: auto auto;
}

#settings-screen .settings-container #apply-settings-difficulty:hover {
  cursor: pointer;
  background-color: #3a3a92;
}

#settings-screen .computer-settings {
  display: none;
}

#settings-screen .normal-settings {
  display: block;
}
/*# sourceMappingURL=style.css.map */